*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 4rem;
}

h1, h2, h3 {
    font-family: "DM Serif Display", serif ;
}

h1 {
    margin-bottom: 2rem;
}

section {
    margin-bottom: 1rem;
}
h2 {
    margin-bottom: 1rem;
}

/* Colors section */
.colors {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.color {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
}
.yellow {
    background-color: #fbe7c6;
}
.mint {
    background-color: #b4f8c8;
}
.tiffany-blue {
    background-color: #a0e7e5;
}
.hot-pink {
    background-color: #ffaebc;
}

/* Fonts section */
ul {
    list-style: none;
    margin-bottom: 0.5rem;
}

